{% extends "layout.html" %}

{% block content %}

<form action="/addbook" method="post">
    <div class="mb-4">
        <input autocomplete="off" autofocus class="px-4 py-2 border rounded-md mx-auto w-auto" name="title" placeholder="Title" type="text">
    </div>
    <div class="mb-4">
        <input class="px-4 py-2 border rounded-md mx-auto w-auto" name="author" placeholder="Author" type="text">
    </div>
    <button class="button-darkBrown px-4 py-2 rounded-md" type="submit">Add Book</button>
</form>

<h1 class="text-3xl font-bold text-center mb-6">Your Read Books</h1>
<!-- Scrollable table container -->
<div class="overflow-x-auto h-[calc(100vh-6rem)] overflow-y-auto">
    <table class="min-w-full bg-white border border-gray-300">
        <thead class="bg-coffeeBean sticky text-ivory">
            <tr>
                <th class="py-2 px-4 border-b">Rank</th>
                <th class="py-2 px-4 border-b">Title</th>
                <th class="py-2 px-4 border-b">Author</th>
                <th class="py-2 px-4 border-b">Your Rating</th>
            </tr>
        </thead>
        <tbody class="text-charcoal">
            {% for book in user_books %}
            <tr class="hover:bg-gray-200">
                <td class="py-2 px-4 border-b text-center">{{ loop.index }}</td>
                <td class="py-2 px-4 border-b">
                    <a href="https://www.google.com/search?q={{ book.isbn }}" target="_blank" class="book-title" data-isbn="{{ book.isbn }}">{{ book.title }}</a>
                </td>
                <td class="py-2 px-4 border-b">{{ book.author }}</td>
                <td class="py-2 px-4 border-b text-center">{{ book.user_rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}